:host {
  --sds-c-button-line-height: 1.5rem;
  --sds-c-card-shadow: 0;
  --sds-c-card-color-border: white;
  --sds-c-icon-color-foreground-default: white;
}

.authWarning {
  color: #fe9339;
}

.authButton {
  height: 2.3rem;
}

.fixedSize {
  height: 3rem;
  width: 100%;
  max-width: 10rem;
}

.fixedSize label {
  cursor: pointer;
}
