.c-container {
  max-width: 1440px;
  margin: auto;
  color: #23366f;
  font-family: auto;
  min-height: 100%;
}

/* Header */
.header {
  overflow: hidden;
  position: sticky;
  max-width: 1180px;
  margin: auto;
}

.header img.logo {
  margin: auto;
  max-width: 132px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dad2bd;
  text-align: center;
}

.row {
  padding: 0px 10px;
  max-width: 1180px;
  margin: auto;
}

.legal {
  float: left;
  font-size: 13px;
  font-weight: normal;
  line-height: 33px;
  margin: auto 40px auto 0;
  padding-top: 3px;
  padding-bottom: 7px;
}

.legal a {
  cursor: pointer;
  color: #23366f;
}

.Upl_Files{
  padding-bottom: 200px;
}

/* unvisited link */
.legal a:link {
  color: #23366f;
}

/* mouse over link */
.legal a:hover {
  color: #2167ae;
}