.my-css-positive {
  /* --sds-c-tooltip-color-background: #1d8a39; */
  --slds-c-popover-position-zindex: 1;
}

.my-css-negative {
  --sds-c-tooltip-color-background: #7d8bad;
  --slds-c-popover-position-zindex: 1;
}

.my-css-nuevo {
  --slds-c-popover-position-zindex: 1;
  --lwc-colorTextSuccess: #6dafff;
  width: 0rem;
  margin-left: -0.65rem;
  margin-top: -0.75rem;
  margin-right: 0.75rem;
}

.my-css-nuevo.slds-popover__body {
  padding: 0.5rem;
}

.my-isnew {
  --lwc-colorTextSuccess: #6dafff;
}

.my-header-tr {
  background-color: rgb(250, 250, 249);
}

.my-header-tr th {
  border-bottom: 1px solid gray;
}

.my-body-tr td {
  min-width: 14rem;
}

.my-footer-tr {
  background-color: rgb(250, 250, 249);
}

.my-footer-tr td {
  padding: 0.5rem;
  border-top: 1px solid gray;
  color: rgb(81, 79, 77);
}

.my-css-table {
  min-height: 30rem;
}